.form-control:focus {
    box-shadow: none;
  }

  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  thead {
    background-color: #4267b2;
    color: white;
}
.search {
  background-color:  #4267b2;
}