.login {
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 11%;
    background-color: blueviolet;
    border: 1px whitesmoke solid;
}
.formclass {
    margin: 15%;
}
.loginbutton {
    width: 100%;
    text-align: center;
}